footer{
    background: #414141;
    height: 50px;
    margin-top: -50px;
    position: relative;
    min-width: 960px;
}
.empty{
    height: 100px;
    background: #f6f6f6;
}
.footer-left{
    text-align: left;
}
.footer-right{
    text-align: right;
}
.footer-right{
    text-align: right;
}
.social__icons__img{
    float: left;
}