.header{
    height: 60px;
    background: #ffffff;
    overflow: hidden;
}
.user{
    text-align: left;
    float: left;
    width: 50%;

}
.user__name{
    display: inline-block;
    vertical-align: middle;
}
.contacts{
    text-align: right;

}
.user__img {
    display: inline-block;
    border-radius: 30px;
}