.header{
    height: 80px;
    background: #ffffff;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.27);
}
.header .container {
    height: 80px;
    position: relative;
}
.user{

    text-align: left;
    float: left;
    width: 50%;
    border: 0px;
    font-size: 0px;
}

.user__img{
    position: relative;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 150%;

}

.user__name{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 20px;
}
.contacts{
    text-align: right;
    float: left;
    width: 50%;
    margin-top: 30px;

}
.contacts__link{
    text-decoration: none;
    line-height: 28px;
    color: #33c1e3;
}
.user__img {
    display: inline-block;
    border-radius: 30px;
}