.menu__icons, .menu__list, .social-icons {
    padding: 0;
    margin: 0;
}
.nav-icons-li, .menu__list__li, .social-icons-img {
    list-style: none;
}

.menu__link{
    display: block;
    padding: 10px 0;
    padding-right: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #414141;

}
.menu__link__active{
    color: #33c1e3;
}